<section class="curso">
  <div class="curso__navegacao">
    <a type="button" class="btn btn-ligth curso__navegacao___ligth">voltar</a>
    <button type="button" class="btn curso__navegacao___btn">Criar Curso</button>
  </div>
  <ul class="curso__lista">
    <li class="curso__lista___item">
      <a routerLink="" class="curso__lista___link" >
        Java
      </a>
    </li>
    <li class="curso__lista___item">
      <a routerLink="" class="curso__lista___link" >
        Java
      </a>
    </li>
    <li class="curso__lista___item">
      <a routerLink="" class="curso__lista___link" >
        Java
      </a>
    </li>
    <li class="curso__lista___item">
      <a routerLink="" class="curso__lista___link" >
        Java
      </a>
    </li>
    <li class="curso__lista___item">
      <a routerLink="" class="curso__lista___link" >
        Java
      </a>
    </li>
    <li class="curso__lista___item">
      <a routerLink="" class="curso__lista___link" >
        Java
      </a>
    </li>
    <li class="curso__lista___item">
      <a routerLink="" class="curso__lista___link" >
        Java
      </a>
    </li>
    <li class="curso__lista___item">
      <a routerLink="" class="curso__lista___link" >
        Java
      </a>
    </li>
    <li class="curso__lista___item">
      <a routerLink="" class="curso__lista___link" >
        Java
      </a>
    </li>
    <li class="curso__lista___item">
      <a routerLink="" class="curso__lista___link" >
        Java
      </a>
    </li>
  </ul>
  <div class="curso__paginacao">
    <app-load-button></app-load-button>
  </div>
</section>
