.curso__navegacao {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.curso__navegacao___btn {
  background-color: var(--cor-btn-principal);
  font-weight: 300;
  color: var(--cor-branco);
  margin-top: .5em;
}

.curso__lista {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 70vh;
}

.curso__lista___item {
  margin: .2em 0;
}

.curso__lista___link {
  display: block;
  background-color: var(--cor-branco);
  color: var(--cor-principal);
  text-decoration: none;
  padding: 1.2em;
}

.curso__paginacao {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.lista-vazia {
  position: absolute;
  bottom: 0;
  padding: .7em;
  width: 100%;
}

.lista-vazia p {
  text-align: center;
  padding: .3em;
}

.paginacao-vazio {
  background-color: var(--cor-branco);
  padding: 1em 0;
  text-align: center;
  margin-top: 6em;
}

.curso__paginacao___prime {
  display: none;
}

@media screen and (min-width: 768px) {

  .curso {
    padding: .5em;
  }

  .curso__navegacao {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .curso__navegacao___btn {
    font-size: 14px;
  }

  .acoes {
    width: 20%;
  }

  .curso__lista {
    display: none;
  }

  .curso__paginacao___prime {
    display: block;
  }

  :host /deep/ .p-link  {
    font-size: 12px;
  }

  :host /deep/ .p-paginator .p-paginator-pages .p-paginator-page {
    min-width: 2rem;
    height: 2rem;
  }

  :host /deep/ .p-paginator .p-paginator-prev {
    min-width: 2rem;
    height: 2rem;
  }

  :host /deep/ .p-paginator .p-paginator-last {
    min-width: 2rem;
    height: 2rem;
  }

  :host /deep/ .p-paginator .p-paginator-next {
    min-width: 2rem;
    height: 2rem;
  }

  :host /deep/ .p-paginator .p-paginator-first  {
      min-width: 2rem;
      height: 2em;
    }

  .curso__paginacao {
    display: none;
  }

  .lista-vazia {
    display: none;
  }

}
