<section class="container mt-3">
  <div class="d-flex justify-content-between mb-5">
    <a
      class="btn btn-outline-primary"
      routerLink="/home">
      <i class="fa fa-arrow-left"></i>
       voltar
    </a>
    <div class="btn-group" dropdown>
      <button
          id="button-basic"
          dropdownToggle type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic">
              <i class="fa fa-cog"></i>
        Configuração
        <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" routerLink="/categoria">Categoria</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="abreModalCurso()">Cria Curso</a></li>
      </ul>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Nome do Curso</th>
        <th scope="col">Categoria</th>
      </tr>
    </thead>
    <tbody *ngIf="cursos.length; else info">
        <tr *ngFor="let curso of cursos">
          <td></td>
          <td>{{ curso.nomeCurso }}</td>
          <td>{{ curso.categoria }}</td>
          <td>
            <div class="float-end">
              <button class="btn btn-warning" (click)="abreModalCurso(curso.id)">
                <i class="fa fa-pencil-square-o"></i>
              </button>
            </div>
          </td>
        </tr>
    </tbody>
  </table>
  <app-paginator
    [ativo]="ativo"
    [total]="page.totalElements"
    (paginacao)="paginacao($event)">
  </app-paginator>
</section>

<ng-template #info>
    <tr>
      <td colspan="4" class="p-3"> <p class="text-center text-muted">não curso cadastrado</p></td>
    </tr>
</ng-template>
