<section class="modal-curso">
 <header class="modal__cabecalho">
   <h1 class="modal__cabecalho___titulo">Curso</h1>
   <span class="modal__cabecalho___icone fa fa-times" (click)="close()"></span>
 </header>
 <form [formGroup]="modalCursoForm" class="modal-curso__formulario">
  <div class="modal-curso__group">
    <label> </label>
    <select class="select__form" formControlName="categoriaId">
      <option value="">Selecione a Categoria</option>
      <option *ngFor="let categoria of categorias$ | async" [ngValue]="categoria.id">
        {{ categoria.nome }}
      </option>
    </select>
  </div>
  <div class="modal-curso__group">
    <label for="curso">Curso</label>
    <input type="text" formControlName="nomeCurso" id="curso" class="modal-curso__form input__form">
  </div>
 </form>
 <div class="modal-curso__acoes">
  <button type="button" class="btn modal-curso__acoes___btn" (click)="salva()">
    salvar
  </button>
 </div>
</section>
