<section class="modal-curso">
 <header class="modal__cabecalho">
   <h1 class="modal__cabecalho___titulo">Curso</h1>
   <span class="modal__cabecalho___icone fa fa-times" (click)="close()"></span>
 </header>
 <form>
  <div class="modal-curso__group">
    <select class="select__form">
      <option value="">Selecione a Categoria</option>
    </select>
  </div>
  <div class="modal-curso__group">
    <label for="curso">Curso</label>
    <input type="text" id="curso" class="modal-curso__form input__form">
  </div>
 </form>
 <div class="modal-curso__acoes">
  <button type="button" class="btn modal-curso__acoes___btn">salvar</button>
 </div>
</section>
