<div class="modal-header">
  <h4 class="modal-title pull-left">Cadastro de Curso</h4>

</div>
<div class="modal-body p-4">
  <div class="container">
    <form  [formGroup]="formulario">
      <div class="row">
      <div class="col-6">
        <label></label>
        <select
          class="form-select"
          formControlName="categoriaId"
          [ngClass]="aplicaCssDeErro('categoriaId')">
          <option value="">Selecione a Categoria</option>
          <option
            *ngFor="let categoria of categorias"
            [ngValue]="categoria.id">
              {{ categoria.nome }}
          </option>
        </select>
        <app-erro-msg
          [control]="converteParaFormControl(formulario.get('nomeCurso'))"
          label="Categoria" >
        </app-erro-msg>
      </div>
      <div class="col-6">
        <label class="fw-bold" for="nomeCurso">Nome do Curso</label>
        <input
          type="text"
          formControlName="nomeCurso"
          class="form-control"
          id="nomeCurso"
          [ngClass]="aplicaCssDeErro('nomeCurso')">
          <app-erro-msg
          [control]="converteParaFormControl(formulario.get('nomeCurso'))"
          label="Nome do Curso" >
        </app-erro-msg>
      </div>
    </div>
    </form>
    <div class="d-flex justify-content-end mt-5">
      <button class="btn btn-secondary" (click)="close()">
        <i class="fa fa-times"></i> cancelar
      </button>
      <button class="btn btn-success" (click)="salvar()" >
        <i class="fa fa-floppy-o"></i> salvar
      </button>

    </div>
  </div>
</div>
