<header class="cabecalho" *ngIf="estaLogado()">
  <div class="cabecalho__menu">
    <a class="cabecalho__menu___icone fa fa-bars" (click)="menu.toggle()"></a>
    <app-menu #menu></app-menu>
  </div>
</header>
<div class="banner" *ngIf="estaLogado()">
  <div class="container">
      <h2 class="banner-titulo">Forum Especial</h2>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0,0,0,0.8)"
  size="medium"
  color="#fff"
  type="ball-climbing-dot"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<p-toast></p-toast>
