.cabecalho {
  background-color: var(--cor-barra-navegacao);
  padding: 1em 0 1em .4em;
}

.cabecalho__menu___icone {
  font-size: 20px;
  color: var(--cor-branco);
}

.cabecalho__container {
  display: none;
}

.banner {
  display: none;
}

@media screen and (min-width:1024px) {

  .cabecalho {
    padding: 1.2em 1.1em;
    position: relative;
  }

  .cabecalho__menu___icone {
    display: none;
  }

  .cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cabecalho__opcoes {
    display: flex;
  }

  .cabecalho__logo {
    font-size: 25px;
    font-family: var(--fonte-segundaria);
    font-weight: 700;
    margin-right: 2em;
  }

  .cabecalho__logo a {
    color: var(--cor-branco);
    text-decoration: none;
  }

  .cabecalho__lista {
    display: flex;
    align-items: center;
  }

  .cabecalho__item {
    margin-right: 1em;
  }

  .cabecalho__link,
  .cabecalho__configuracao___item {
    font-weight: 300;
    text-decoration: none;
    color: var(--cor-branco);
    cursor: pointer;
  }

  .cabecalho__configuracao {
    display: flex;
    align-items: center;
  }

  .cabecalho__configuracao___botao {
    display: none;
  }

  .lista-configuracao {
    display: none;
  }

  .cabecalho__configuracao___botao:checked~.lista-configuracao {
    display: block;
  }

  .lista-configuracao {
    position: absolute;
    top: 100%;
    background-color: var(--cor-branco);
    width: 20%;
  }

  .lista__item {
    color: var(--cor-principal);
  }

  .lista__link {
    width: 100%;
    padding: 1em;
    display: inline-block;
    text-decoration: none;
    color: var(--cor-principal);
  }

  .lista__link:hover {
    background-color: var(--cor-principal);
    color: var(--cor-branco);
  }

  .banner {
    display: block;
    background-color: var(--cor-principal);
    height: 72px;
  }

  .banner__container {
    padding: 2em 1.1em;
  }

  .banner__container___titulo {
    font-size: 20px;
    font-weight: 700;
    color: var(--cor-branco);
  }

}


/*teste aqui*/


.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.button {
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 6px;
  border: 1px solid rgba(64, 64, 64, 0.15);
  box-shadow: 0 10px 20px rgba(64, 64, 64, 0.15);
  font-family: inherit;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #f3f4f5;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  font-family: inherit;
  background-color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.dropdown-item:hover {
  background-color: #f3f4f5;
}
