<header class="cabecalho" *ngIf="estaLogado()">

  <div class="cabecalho__menu">
    <a class="cabecalho__menu___icone fa fa-bars" (click)="menu.toggle()"></a>
    <app-menu #menu></app-menu>
  </div>

  <div class="cabecalho__container">
    <div class="cabecalho__opcoes">
      <h1 class="cabecalho__logo"><a routerLink="/forum/todos">Qualyt Soft</a></h1>
      <ul class="cabecalho__lista">
        <li class="cabecalho__item"><a routerLinkActive="active" routerLink="/categoria" class="cabecalho__link">Categoria</a></li>
        <li class="cabecalho__item"><a routerLinkActive="active" routerLink="/curso" class="cabecalho__link">Curso</a></li>
      </ul>
    </div>

    <div class="dropdown-wrapper">
      <button
        [dropdownTriggerFor]="dropdown"
        class="dropdown-btn">{{ nome }} <i class="fa fa-angle-down"></i>
      </button>

      <app-dropdown #dropdown>
        <div (click)="test()" class="dropdown-item">Perfil</div>
        <div (click)="test()" class="dropdown-item">Configuração</div>
        <div (click)="logout()" class="dropdown-item">Sair</div>
      </app-dropdown>
  </div>
  </div>
</header>
<div class="banner" *ngIf="estaLogado()">
  <div class="banner__container">
      <h2 class="banner__container___titulo">Forum Especial</h2>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0,0,0,0.8)"
  size="medium"
  color="#fff"
  type="ball-climbing-dot"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<p-toast></p-toast>
