.singup {
  background-color: var(--cor-branco);
  margin: 20% auto;
  padding: 2em 1em;
}

.singup__titulo {
  font-size: 18px;
  font-weight: 700;
  color: var(--cor-principal);
  text-align: center;
  margin-bottom: 2em;
}

.singup__form {
  margin: 1em 0;
}

.singup__form___input {
  width: 100%;
}

.singup__cadastrar {
  display: flex;
  flex-direction: column;
}

.singup__cadastrar___btn {
  background-color: var(--cor-btn-principal);
  color: var(--cor-branco);
  margin: 1em 0;
}


@media screen and (min-width: 768px) {

  .singup {
    margin: 10% 20%;
  }

}

@media screen and (min-width:1024px) {

  .singup {
    margin: 0;
    height: 100%;
    padding-top: 3em;
  }

  .singup__cadastrar {
    justify-content: end;
  }

  .singup__cadastrar___btn {
    cursor: pointer;
  }

  .btn-ligth:hover {
    background-color: var(--cor-btn-principal);
    color: var(--cor-branco);
    border: 1px solid var(--cor-btn-principal);
  }
}
