<section class="singup">
  <h3 class="singup__titulo">Cadastro de Usuario</h3>
  <form [formGroup]="formulario">

    <div class="singup__form">
      <label for="nome">Nome</label>
      <input type="text" class="singup__form___input input__form">
    </div>

    <div class="singup__form">
      <label for="sobrenome">Sobrenome</label>
      <input type="text" class="singup__form___input input__form">
    </div>

    <div class="singup__form">
      <label for="email">Email</label>
      <input type="email" class="singup__form___input input__form" id="email">
    </div>

    <div class="singup__form">
      <label for="senha">Senha</label>
      <input type="password" class="singup__form___input input__form" id="senha">
    </div>
  </form>

  <div class="singup__cadastrar">
    <button type="button" class="btn singup__cadastrar___btn">Cadastar</button>
    <a type="button" routerLink="/login" class="btn btn-ligth">Cancelar</a>
  </div>
</section>
