@import 'reset-css';

:root {
  --cor-barra-navegacao: #051932;
  --cor-fundo-botao-criar-categoria: #051932;
  --cor-text-botao-criar-categoria: #fff;
  --cor-logo-barra-navegacao: #fff;
  --cor-texto-barra-navegacao: rgba(255, 255, 255, .5);
  --cor-texto-barra-navegacao-hover: #fff;
  --cor-texto-barra-navegacao-dropdown: #fff;
  --cor-de-fundo-banner:#093364;
  --cor-titulo-banner: #fff;
  --cor-erro-input: #dc3545;
  --cor-link-rota-singup: #051932;
  --cor-icone-lupa-search: #093364;
  --cor-borda-topico-filtro:#B6BCBF;
  --cor-fundo-topico-filtro: #fff;
  --cor-body: #f9fbfd;
  --cor-texto-select: #576169;
  --fonte-principal: "Poppins";
  --fonte-segundaria: "josefin Sans";
  --cor-de-fundo: #EBECEE;
  --signin-fundo: #FFFFFF;
  --signin-icone: #093364;
  --signin-texto-logo:#093364;
  --signin-input: #EEEEEE;
}


.app {
  font-size: 16px;
  font-family: var(--fonte-principal);
  font-weight: 400;
  background-color: var(--cor-de-fundo);
}
