@import 'reset-css';

:root {
  --cor-banco: #FFFFFF;
  --cor-barra-navegacao: #051932;
  --cor-fundo-botao-criar-categoria: #051932;
  --cor-text-botao-criar-categoria: #fff;
  --cor-btn-principal: #093364;
  --cor-btn-load: #2e8b57;
  --cor-modal-close: #ff0000;
  --cor-texto-principal: #093364;
  --cor-logo-barra-navegacao: #fff;
  --cor-texto-barra-navegacao: rgba(255, 255, 255, .5);
  --cor-texto-barra-navegacao-hover: #fff;
  --cor-texto-barra-navegacao-dropdown: #fff;
  --cor-de-fundo-banner:#093364;
  --cor-titulo-banner: #fff;
  --cor-erro-input: #dc3545;
  --cor-link-rota-singup: #051932;
  --cor-icone-lupa-search: #093364;
  --cor-borda-topico-filtro:#B6BCBF;
  --cor-fundo-topico-filtro: #fff;
  --cor-body: #f9fbfd;
  --cor-texto-select: #576169;
  --fonte-principal: "Poppins";
  --fonte-segundaria: "josefin Sans";
  --cor-de-fundo: #EBECEE;
  --signin-fundo: #FFFFFF;
  --signin-icone: #093364;
  --signin-texto-logo:#093364;
  --signin-input: #EEEEEE;
  --cor-texto-btn: #FFFFFF;
  --cor-fundo-btn-light-principal: #FFFFFF;
  --cor-texto-btn-light-principal: #093364;
  --cor-fundo-btn: #093364;
  --cor-erro: #ff0000;

}


.app {
  font-size: 16px;
  font-family: var(--fonte-principal);
  font-weight: 400;
  background-color: var(--cor-de-fundo);
}

.input__form {
  width: 90%;
  padding: .7em;
  font-family: var(--fonte-principal);
  border: 1px solid transparent;
  background-color: var(--signin-input);
}

.input__form:focus {
  outline: none;
}

.btn {
  padding: .7em;
  font-size: 16px;
  font-family: var(--fonte-principal);
  font-weight: 500;
  border: 1px solid transparent;
  text-decoration: none;
  text-align: center;
}

.btn-ligth {
  background-color: var(--cor-fundo-btn-light-principal);
  color: var(--cor-texto-btn-light-principal);
  border: 1px solid var(--cor-texto-btn-light-principal);;
}

.nao-valido {
  border: 1px solid var(--cor-erro);
}
