<div class="modal-body p-4">
  <div class="container">
    <form [formGroup]="formulario" class="row">
      <div class="col-6">
        <label class="fw-bold" for="categoria">Nome da Categoria</label>
        <input
          type="text"
          formControlName="nome"
          class="form-control"
          id="categoria"
          placeholder="Nome Categoria"
          [ngClass]="aplicaCssDeErro('nome')" />
        <app-erro-msg
          [control]="converteParaFormControl(formulario.get('nome'))"
          label="Nome da Categoria" >
        </app-erro-msg>
      </div>
    </form>
    <div class="d-flex justify-content-end mt-5">
      <button class="btn btn-secondary" (click)="close()">
        <i class="fa fa-times"></i> cancelar
      </button>
      <button class="btn btn-success" (click)="salvaCategoria()">
        <i class="fa fa-floppy-o"></i> salvar
      </button>

    </div>
  </div>
</div>
