
.modal-categoria {
  display: flex;
  flex-direction: column;
}

.modal-categoria__cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var( --cor-principal);
  height: 35px;
  padding: .5em;
  margin-bottom: 1em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modal-categoria__titlulo {
  color: var(--cor-branco);
  font-weight: 300;
}

.modal-categoria___icone {
  color: var(--cor-branco);
}

.modal-categoria__form {
  padding: .5em;
  margin-bottom: 1em;
}

.input__form {
  width: 100%;
  font-size: 17px;
}

.modal-categoria__salva {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.modal-categoria__btn {
  background-color: var(--cor-btn-principal);
  color: var(--cor-branco);
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width:1024px) {

  .modal-categoria___icone {
    cursor: pointer;
  }

  .modal-categoria__form {
    display: flex;
    justify-content: center;
  }

  .input__form {
    width: 70%;
  }

}
