<section class="container forum mt-5">
  <article class="">
    <ul>
      <li class="d-flex">
        <div class="icone-categoria itens">
          <p>icone</p>
        </div>
        <div class="categoria-curso itens">
            <h6 class="titulo-categoria">titulo categoria</h6>
            <div class="lista-curso">
              <span class="curso">lista dos cursos</span>
              <span class="curso"> lista dos cursos</span>
              <span class="curso">lista dos cursos</span>
              <span class="curso"> lista dos cursos</span>
              <span class="curso">lista dos cursos</span>
              <span class="curso"> lista dos cursos</span>
              <span class="curso">lista dos cursos</span>
              <span class="curso"> lista dos cursos</span>
              <span class="curso">lista dos cursos</span>
              <span class="curso"> lista dos cursos</span>
              <span class="curso"> lista dos cursos</span>
              <span class="curso">lista dos cursos</span>
              <span class="curso"> lista dos cursos</span>
              <span class="curso">lista dos cursos</span>
              <span class="curso"> lista dos cursos</span>
              <span class="curso"> lista dos cursos</span>
              <span class="curso">lista dos cursos</span>
              <span class="curso"> lista dos cursos</span>
              <span class="curso">lista dos cursos</span>
              <span class="curso"> lista dos cursos</span>
            </div>
        </div>
        <div class="total-topicos d-flex justify-content-center flex-column itens">
          <h6>10020</h6>
          <a class="link-topicos" href="#">tópicos</a>
        </div>
        <div class="topicos-sem-resposta d-flex justify-content-center flex-column itens">
          <h6>240</h6>
          <a class="link-topicos" href="#">sem resposta</a>
        </div>
      </li>
    </ul>
  </article>
</section>
