<section class="signin">
  <div class="signin__icone">
    <span class="signin__icone___titulo fa fa-user-o"></span>
  </div>
  <h3 class="signin__titulo">Qualyt Soft</h3>
  <form>
    <input type="text" formControlName="email" class="signin__input" placeholder="Usuario">
    <input type="password" formControlName="senha" class="signin__input" placeholder="Senha">
  </form>

  <div class="signin__configuracao">
    <div class="signin__lembrar">
      <input type="checkbox" id="lembrar" class="signin__lembrar___conta">
      <label for="lembrar">Lembrar conta</label>
    </div>
    <div class="signin__forgot">
      <a href="#" class="signin__forgot___email">Esqueci Senha</a>
    </div>
  </div>

  <div class="signin__entrar">
    <button class="signin__entrar___btn">Entrar</button>
  </div>

  <div class="signin__cadastro">
    <a [routerLink]="['/login/singup']" class="signin__cadastro___singup">Cadastra-se</a>
  </div>
</section>
