.signin {
  background-color: var(--signin-fundo);
  margin: 20% auto;
  padding: 2em 1em;
}

.signin__icone {
  background-color: var(--signin-icone);
  width: 22%;
  height: 51px;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}

.signin__icone___titulo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}

.signin__titulo {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--signin-texto-logo);
  margin: .5em 0;
}

.signin__input {
  width: 100%;
  margin-bottom: .5em;
}

.signin__input::placeholder {
  font-family: var(--fonte-principal);
}

.signin__configuracao {
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--signin-texto-logo);
  margin-bottom: 1em;
}

.signin__forgot___email {
  text-decoration: none;
  color: var(--signin-texto-logo);
}

.signin__entrar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin__entrar___btn {
  width: 100%;
  padding: .7em;
  font-size: 16px;
  font-family: var(--fonte-principal);
  font-weight: 500;
  border: 1px solid transparent;
  background-color: var(--signin-texto-logo);
  color: #fff;
}

.signin__cadastro {
  margin-top: 3em;
  text-align: end;
}

.signin__cadastro___singup {
  text-decoration: none;
  padding: .4em 1em;
  background-color: var(--signin-texto-logo);
  color: #fff;
}

@media screen and (min-width: 768px) {

  .signin {
    margin: 20% 20%;
  }



}

@media screen and (min-width:1024px) {

  .signin {
    margin: 0;
    height: 100%;
    padding-top: 6em;
  }



}
