<section class="categoria">
  <div class="categoria__acoes">
    <a type="button" routerLink="" class="btn btn-ligth categoria__acoes___retorno">voltar</a>
    <button class="btn categoria__acoes___criar">Criar categoria</button>
  </div>
  <ul class="categoria__lista">
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>

    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
    <li class="categoria__lista___item">
      <a routerLink="" class="categoria__lista___link">
        Categoria
      </a>
    </li>
  </ul>
  <div class="categoria__paginacao">
   <app-load-button></app-load-button>
  </div>
</section>
