.categoria__acoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoria__acoes___retorno {
  width: 100%;
  margin-top: .3em;
}

.categoria__acoes___criar {
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  background-color: var(--cor-btn-principal);
  color: var(--cor-branco);
  margin: .5em 0;
}

.categoria__lista {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 61vh;
}

.categoria__lista___item {
  margin:.2em 0;
}

.categoria__lista___link {
  display: block;
  padding: 1em;
  background-color: var(--cor-branco);
  text-decoration: none;
  color: var( --cor-principal);
}

.categoria__paginacao {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {

  .categoria {
    padding: .5em;
  }

  .categoria__acoes {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .categoria__acoes___retorno {
    width: 20%;
  }

  .categoria__acoes___criar {
    width: 20%;
  }

  .categoria__lista {
    display: none;
  }

  .lista-vazia {
    text-align: center;
  }

  .info-texto {
    font-size: 18px;
    font-weight: 700;
  }

  .categoria__paginacao {
    display: none;
  }
}

@media screen and (min-width: 1024px) {

  .categoria__table {
    padding: 2em;
  }

  .table___btn {
    cursor: pointer;
  }
}
