.categoria__acoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoria__acoes___retorno {
  width: 100%;
  margin-top: .3em;
}

.categoria__acoes___criar {
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  background-color: var(--cor-btn-principal);
  color: var(--cor-branco);
  margin: .5em 0;
}

.categoria__lista {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 73vh;
}

.categoria__lista___item {
  margin:.2em 0;
}

.categoria__lista___link {
  display: block;
  padding: 1em;
  background-color: var(--cor-branco);
  text-decoration: none;
  color: var( --cor-principal);
}

.categoria__paginacao {
  position: absolute;
  bottom: 0;
  width: 100%;
}
