<!-- <div *ngIf="{categorias: categorias$ | async} as vm"> -->
  <section class="categoria">
    <div class="categoria__acoes">
      <a type="button" routerLink="/forum/todos" class="btn btn-ligth categoria__acoes___retorno">voltar</a>
      <button class="btn categoria__acoes___criar" (click)="open()">Criar categoria</button>
    </div>
    <div>

    </div>
    <ul class="categoria__lista" *ngIf="categorias.length; else vazio" >
      <li class="categoria__lista___item" *ngFor="let categoria of categorias">
        <a class="categoria__lista___link" (click)="open(categoria)">
          {{ categoria.nome }}
        </a>
      </li>
    </ul>

    <div class="fundo__table">
      <table class="table" *ngIf="categorias.length; else vazio">
        <thead class="table__cabecalho">
          <th class="table__cabecalho___item">ID</th>
          <th class="table__cabecalho___item">Nome</th>
          <th class="table__cabecalho___item"></th>
        </thead>
        <tbody class="table__corpo">
            <tr class="table__corpo__linha" *ngFor="let categoria of categorias">
              <td class="table__corpo___item">{{ categoria.id }}</td>
              <td class="table__corpo___item">{{ categoria.nome }}</td>
              <td class="table__corpo___item table__acao">
                <button class="table___btn" title="Edição de Categoria" (click)="open(categoria)">
                  <span class="fa fa-pencil-square-o"></span>
                </button>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="categoria__paginacao___prime">
      <p-paginator
        [rows]="10"
        [totalRecords]="totalPaginas"
        (onPageChange)="paginate($event)"
       >
      </p-paginator>
    </div>
    <div class="categoria__app-load" *ngIf="temMais; else naoHaMais">
      <app-load-button (click)="maisCategorias()">
      </app-load-button>
    </div>

  </section>
<!-- </div> -->

<ng-template #naoHaMais>
  <div class="nao-ha-mais">
    <p>Não há mais categorias</p>
  </div>
</ng-template>

<ng-template #vazio>
  <div class="lista-categoria">
    <p>Não há categoria cadastrada</p>
  </div>
</ng-template>
